MYSQL_DATABASE=campus_meow
MYSQL_USER=campus_meow
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-root-me
MONGO_DATABASE=campus_meow
MONGO_USER=campus_meow
MONGO_PASSWORD=change-me
JWT_SECRET=replace-with-at-least-32-random-characters
JWT_TTL=3600

