MYSQL_DATABASE=campus_meow
MYSQL_USER=campus_meow
MYSQL_PASSWORD=replace-with-random-value
MYSQL_ROOT_PASSWORD=replace-with-another-random-value
MONGO_DATABASE=campus_meow
MONGO_USER=campus_meow
MONGO_PASSWORD=replace-with-random-value
JWT_SECRET=replace-with-at-least-32-random-bytes
JWT_TTL=3600
