.env
.idea/
.vscode/*
!.vscode/launch.json
*.iml
*.log
*.key
*.pem
id_rsa
id_ed25519
dist/*
!dist/.gitkeep
apps/api/target/
apps/flutter_client/.dart_tool/
apps/flutter_client/.flutter-plugins*
apps/flutter_client/build/
apps/flutter_client/android/.gradle/
apps/flutter_client/android/local.properties


.tools/
